body {
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: url('pexels-steve-johnson-1006060.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

footer{
    height: 10%;
}

footer p {
    color: black;
    font-size: x-large;
    background-color: rgba(211, 211, 211, 0.342);
}

#title2 {
    width:50%;
}

#main_container {
    width: 77%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgb(54, 47, 47) 0%, rgb(47, 48, 38) 89%, rgb(76, 82, 83) 97%);
    border-radius: 0.2em;
    border: 1px solid #2d2727d6;
    outline: 3px solid hsl(51.2, 64.8%, 39%);
}

form {
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: #cac1b1;
}

.form-btn-row {
    display: flex;
    justify-content: space-around;
    width: 55%;
    
}

.form-btn-row > input {
    width: 30%;
    border-radius: 0.8em;
    background: linear-gradient(0deg, rgba(29,29,31,1) 0%, rgba(86,86,93,1) 77%, rgba(218,224,226,1) 100%);
    border: none;
    color:#d9d4d4;
    padding: 4px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.form-btn-row > input:hover {
    
    background: linear-gradient(0deg, rgb(160, 154, 42) 0%, rgb(126, 126, 41) 77%, rgba(218,224,226,1) 100%); 
}
/*
#middle-section {
    color: #cac1b1;
}*/

hr{
    width: 97%;
    color:rgba(87, 85, 84, 0.493)
}

p{
    align-self: start;
    margin-left: 2em;
    font-size: 18px;
    color: lightgray;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

#tableHeader{
    color: #cac1b1;
    border-bottom: 5px solid rgba(87, 85, 84, 0.493);
    background-color: #faebd700;
}

#main-section {
    width: 80%;
    display: flex;
    justify-content: center;
    color:lightgray;
}

table{
    width:80%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

tr:nth-child(2n+2){
    background-color: #595137;
}

tr {
    background-color: #465353;
}